{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.category) }}
{{ form_row(form.content) }}

<h3 class="mt-5">Rajouter une ou plusieurs images</h3>

<ul id="image-fields-list" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}" data-widget-tags="{{ '<div></div>'|e }}" data-widget-counter="{{ form.images|length }}" class="p-0"></ul>

<button type="button" class="add-another-collection-widget btn btn-primary mt-2 mb-2" data-list-selector="#image-fields-list">Ajouter une autre image</button>

<h3 class="mt-5">Rajouter une ou plusieurs vidéos</h3>

<ul id="video-fields-list" data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}" data-widget-tags="{{ '<div></div>'|e }}" data-widget-counter="{{ form.videos|length }}" class="p-0"></ul>

<button type="button" class="add-another-collection-widget btn btn-primary mt-2 mb-5" data-list-selector="#video-fields-list">Ajouter une autre vidéo</button>

<div class="mb-5 text-center">
	{{ form_end(form) }}
</div>
