{% extends 'base.html.twig' %}

{% block title %}
	Accueil{{ parent() }}
{% endblock %}

{% block body %}

	<style>
		.trick {
			display: none;
		}
	</style>
	<div class="container-fluid p-0">
		<section class="header">
			<div class="background-image text-center">
				<span class="accroche">
					<p class="accroche-paragraphe">Bienvenue sur Snowtricks</p>
				</span>
				<a href="#tricks">
					<i class="fas fa-chevron-down fa-4x tricks-arrow"></i>
				</a>
			</div>
		</section>
	</div>

	<span id="tricks">
		<div class="container p-5">
			<div class="row">
				{% for trick in tricks %}
					<div class="col-lg-4 text-center trick mt-5">
						<div class="btn-primary p-0 border-0" style="border-radius: 15px">
							<article>
								<a href="{{ path('figures_show', {'slug': trick.slug}) }}">
									<div class="read-more">
										{% if trick.images|length == 0 %}
											<img src="{{ asset('/img/snowboard-home.jpeg') }}" alt="" style="border-top-left-radius: 15px;border-top-right-radius: 15px; height: 250px; width: 100%; object-fit: cover;" class="d-block">
										{% endif %}
										{% for image in trick.images %}
											{% if loop.first %}
												<img src="{{ asset('/uploads/' ~ image.name) }}" alt="" style="border-top-left-radius: 15px;border-top-right-radius: 15px; height: 250px; width: 100%; object-fit: cover;" class="d-block">
											{% endif %}
										{% endfor %}
									</div>
								</a>
								<div class="container-fluid">
									<div class="row mt-2">
										{% if app.user is null %}
											<div class="col-12">
												<h6 class="p-2">{{ trick.name }}</h6>
											</div>
										{% endif %}
										{% if app.user is not null %}
											<div class="col-8">
												<h6 class="p-2">{{ trick.name }}</h6>
											</div>
											<div class="col-2">
												<a href="{{ path('figures_edit', {slug: trick.slug}) }}" class="text-white">
													<span class="fas fa-edit m-2"></span>
												</a>
											</div>
											<div class="col-2">
												<a href="#" onclick="event.preventDefault(); confirm('Êtes-vous sûr de vouloir supprimer cette figure ?') && document.getElementById('js-trick-delete-form').submit();">
													<span class="fas fa-trash-alt m-2 text-white"></span>
												</a>
												<form id="js-trick-delete-form" action="{{ path('figures_delete', {slug: trick.slug}) }}" method="POST" class="d-none">
													<input type="hidden" name="token" value="{{ csrf_token('trick_deletion_' ~ trick.id) }}">
													<input type="hidden" name="_method" value="DELETE">
												</form>
											</div>
										{% endif %}
									</div>
								</div>
							</article>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="container">
			<div class="row text-center m-3 mb-5">
				<a href="#" id="loadMoreTrick">
					<i class="fas fa-plus-circle fa-3x"></i>
				</a>
			</div>
		</div>
		<div class="container-fluid text-right tricks-up">
			<div class="row no-gutters p-0">
				<div class="col-11"></div>
				<div class="col-1 p-0">
					<a href="#tricks">
						<i class="fas fa-chevron-up fa-4x tricks-arrow-up w-100"></i>
					</a>
				</div>
			</div>
		</div>

	</span>

{% endblock %}
