{% extends 'base.html.twig' %}

{% block title %}
	Accueil{{ parent() }}
{% endblock %}

{% block body %}

	<div class="container-fluid p-0">
		<section class="header">
			<div class="background-image text-center">
				<span class="accroche">
					<p class="accroche-paragraphe">Bienvenue sur Snowtricks</p>
				</span>
				<a href="#tricks">
					<i class="fas fa-chevron-down fa-4x tricks-arrow"></i>
				</a>
			</div>
		</section>
	</div>

	<span id="tricks">
		<div class="container-fluid">
			<div class="container">
				<div class="row mt-5">
					{% for trick in tricks %}
						<div class="col-3">
							<a href="{{ path('figures_show', {'slug': trick.slug}) }}" class="btn btn-primary mt-5">
								<article>
									<div class="read-more">
										<img src="https://via.placeholder.com/250x150" alt="">
									</div>
									<h6>{{ trick.name }}</h6>
									<div class="metadata">
										{{ trick.createdAt | date('d/m/Y') }}
										à
										{{ trick.createdAt | date('h:m') }}
										-
										{{ trick.category }}</div>
									<i class="far fa-edit"></i>
									<i class="far fa-trash-alt"></i>
								</article>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</span>

{% endblock %}
