{% extends 'base.html.twig' %}

{% block title %}
	Accueil{{ parent() }}
{% endblock %}

{% block body %}

	<div class="container-fluid p-0">
		<section class="header">
			<div class="background-image text-center">
				<span class="accroche">
					<p class="accroche-paragraphe">Bienvenue sur Snowtricks</p>
				</span>
				<a href="#tricks">
					<i class="fas fa-chevron-down fa-4x tricks-arrow"></i>
				</a>
			</div>
		</section>
	</div>

	<span id="tricks">
		<div class="container-fluid">
			<div class="container">
				<div class="row">
					{% for trick in tricks %}
						<div class="col-3">
							<article>
								<h4>{{ trick.name }}</h4>
								<div class="metadata">
									{{ trick.creationDate | date('d/m/Y') }}
									à
									{{ trick.creationDate | date('h:m') }}
									-
									{{ trick.category }}</div>
								<div class="read-more">
									<img src="https://via.placeholder.com/250x150" alt="">
									<a href="{{ path('figures_show', {'slug': trick.slug}) }}" class="btn btn-primary">Lire la suite</a>
								</div>
							</article>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</span>

{% endblock %}
