{% extends 'base.html.twig' %}

{% block title %}
	Accueil{{ parent() }}
{% endblock %}

{% block body %}

	<style>
		.trick {
			display: none;
		}
	</style>
	<div class="container-fluid p-0">
		<section class="header">
			<div class="background-image text-center">
				<span class="accroche">
					<p class="accroche-paragraphe">Bienvenue sur Snowtricks</p>
				</span>
				<a href="#tricks">
					<i class="fas fa-chevron-down fa-4x tricks-arrow"></i>
				</a>
			</div>
		</section>
	</div>

	<span id="tricks">
		<div class="container p-5">
			<div class="row">
				{% for trick in tricks %}
					<div class="col-lg-4 text-center trick mt-5">
						<a href="{{ path('figures_show', {'slug': trick.slug}) }}" class="btn btn-primary p-0 border-0" style="border-radius: 15px">
							<article>
								<div class="read-more">
									{% if trick.images|length == 0 %}
										<img src="{{ asset('/img/snowboard-home.jpeg') }}" alt="" style="border-top-left-radius: 15px;border-top-right-radius: 15px; height: 250px; width: 360px; object-fit: cover;" class="d-block">
									{% endif %}
									{% for image in trick.images %}
										{% if loop.first %}
											<img src="{{ asset('/uploads/' ~ image.name) }}" alt="" style="border-top-left-radius: 15px;border-top-right-radius: 15px; height: 250px; width: 360px; object-fit: cover;" class="d-block">
										{% endif %}
									{% endfor %}
								</div>
								<h6>{{ trick.name }}</h6>
								<div class="metadata">
									{{ trick.createdAt | date('d/m/Y') }}
									à
									{{ trick.createdAt | date('h:m') }}
									-
									{{ trick.category }}
								</div>
							</article>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="container">
			<div class="row text-center m-3 mb-5">
				<a href="#" id="loadMoreTrick">
					<i class="fas fa-plus-circle fa-3x"></i>
				</a>
			</div>
		</div>
	</span>

{% endblock %}
