{% extends 'base.html.twig' %}

{% block title %}
	Voir une figure{{ parent() }}
{% endblock %}

{% block body %}
	<section class="figures">
		<div class="container figures-container">
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10">
					<div class="container-fluid p-0 mt-5">
						<section class="header">
							{% if trick.images|length == 0 %}
								<div class="background-image-2" style="background-image: url('{{ asset('/img/snowboard-home.jpeg') }}');">
								{% else %}
									<div class="background-image-2" style="background-image: url('{{ asset('/uploads/' ~ images.0.name) }}');">
									{% endif %}
									{% if app.user is not null %}
										<div class="trick-edit-buttons">
											<a href="{{ path('figures_edit', {slug: trick.slug}) }}" class="m-2">
												<span class="fas fa-edit m-2 text-white position-relative"></span>
											</a>
											<a href="#" onclick="event.preventDefault(); confirm('Êtes-vous sûr de vouloir supprimer cette figure ?') && document.getElementById('js-trick-delete-form').submit();" class="m-2">
												<span class="fas fa-trash-alt m-2 text-white position-relative"></span>
											</a>
										</div>
									{% endif %}
									<span class="accroche text-center">
										<p class="accroche-paragraphe text-wrap position-relative">{{ trick.name }}</p>
									</span>
								</div>
							</section>
						</div>
						<div class="container-fluid p-0">
							<section class="pt-5 pb-5">
								<div class="container-fluid p-0">
									<div class="row">
										<a href="#media"></a>
										<div class="col-1 text-center arrow-display">
											<a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
												<i class="fa fa-arrow-left"></i>
											</a>
										</div>
										<div class="col-10 carousel-display">
											<div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
												<div class="carousel-inner">
													{% for media in media %}
														{% if loop.first %}
															<div class="carousel-item active">
																<div class="row">
																{% elseif loop.index % 4 == 0 %}
																	<div class="carousel-item">
																		<div class="row">
																		{% endif %}
																		<div class="col-md-4 mb-3">
																			<div class="card">
																				{% if (media.name|split('.')|last == 'mp4') or (media.name|split('.')|last == 'webm') %}
																					<video controls width="800" class="img-fluid" alt="vidéo d'une figure de snowboard">
																						<source src="{{ asset('/uploads/' ~ media.name) }}" type="video/webm">
																						<source src="{{ asset('/uploads/' ~ media.name) }}" type="video/mp4">
																						<p>Désolé, votre navigateur ne supporte pas les vidéos. Voici
																							<a href="{{ asset('/uploads/' ~ media.name) }}">un lien pour télécharger la vidéo</a>.
																						</p>
																					</video>
																				{% elseif (media.name|slice(0, 4) == "http") %}
																					<iframe src="{{ media.name }}" frameborder="0"></iframe>
																				{% else %}
																					<img src="{{ asset('/uploads/' ~ media.name) }}" alt="image d'une figure de snowboard" class="img-fluid">
																				{% endif %}
																			</div>
																		</div>
																		{% if loop.index != 1 and loop.index % 3 == 0 %}
																		</div>
																	</div>
															{% elseif loop.last %}
																</div>
															</div>
														{% endif %}
													{% endfor %}
												</div>
											</div>
										</div>
										<div class="col-1 text-center">
											<a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
												<i class="fa fa-arrow-right"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="loadMedia" class="text-center mb-3">
							<a href="#media" class="btn btn-primary">Afficher les médias</a>
						</div>
					</div>
				</div>
				<div class="container content mt-3 mb-3">
					<div class="row">
						<div class="col-2"></div>
						<div class="col-8">
							{{ trick.content | raw }}
						</div>
						<div class="col-2"></div>
					</div>
				</div>
				<div class="details container text-center mt-5">
					<div class="row">
						<div class="col m-2"></div>
						<div class="col-2 bg-info m-2">
							<p class="mt-2 mb-2 text-white">
								<strong>Création</strong>
								:
								<br>
								{{ trick.createdAt | date('d/m/Y') }}
								à
								{{ trick.createdAt | date('h:m') }}</p>
						</div>
						<div class="col-2 bg-warning m-2">
							<p class="mt-2 mb-2 text-white">
								<strong>Modification</strong>
								:
								<br>
								{{ trick.updatedAt | date('d/m/Y') }}
								à
								{{ trick.updatedAt | date('h:m') }}</p>
						</div>
						<div class="col-2 m-2 bg-danger">
							<p class="mt-2 mb-2 text-white">
								<strong>Catégorie</strong>
								:
								<br>
								{{ trick.category }}</p>
						</div>
						<div class="col m-2"></div>
					</div>
				</div>
				<hr>
				{% if app.user is not null %}
					{{ form_start(form) }}
					<div class="container text-center mb-5 comment-section">
						<div class="row">
							<div class="col-2"></div>
							<div class="col">
								<div class="mt-5">
									{{ form_row(form.content) }}
								</div>
								<div class="mt-5">
									<input type="submit" value="Laisser un commentaire" class="btn btn-primary">
								</div>
							</div>
							<div class="col-2"></div>
						</div>
					</div>
					{{ form_end(form) }}
					<hr>
				{% endif %}
				<div class="container mt-5 mb-5 interior clearfix">
					{% if app.user is null %}
						<div class="text-center mb-5">
							<a href="{{ path('app_login') }}" class="m-2">
								<button class="btn btn-primary">Me connecter</button>
							</a>
							<a href="{{ path('app_register') }}" class="m-2">
								<button class="btn btn-primary">M'inscrire</button>
							</a>
						</div>
					{% endif %}
					{% if comments is defined %}
						{% for key, comment in comments %}
							<div class="row mt-3 {% if loop.first %}blogBlox {% else %}moreBox{% endif %} {% if loop.index > 3 %} d-none {% endif %}">
								<div class="col-2 comment-delete"></div>
								<div class="col-2 text-center">
									<img src="{{ asset('/uploads/' ~ comment.user.picture) }}" alt="photo de profil" class="w-50 rounded">
									<p class="text-center mt-2">{{ comment.user.username }}</p>
								</div>
								<div class="col-7 border p-3">
									<p>{{ comment.content }}</p>
								</div>
								<div class="col-1 comment-delete"></div>
							</div>
						{% endfor %}
						<div id="loadMore">
							<a href="#">Afficher plus de commentaires</a>
						</div>
					{% endif %}
				</div>
			</div>
		</section>

		<form id="js-trick-delete-form" action="{{ path('figures_delete', {slug: trick.slug}) }}" method="POST" class="d-none">
			<input type="hidden" name="token" value="{{ csrf_token('trick_deletion_' ~ trick.id) }}">
			<input type="hidden" name="_method" value="DELETE">
		</form>
	</article>
</div>
<div class="col-1"></div></div></div></section>{% endblock %}
