{% extends 'base.html.twig' %}

{% block title %}
	Voir une figure{{ parent() }}
{% endblock %}


{% block body %}
	<section class="figures">
		<article>
			<h2>{{ trick.name }}</h2>
			<div class="metadata">Rédigé le
				{{ trick.creationDate | date('d/m/Y') }}
				à
				{{ trick.creationDate | date('h:m') }}
				dans la catégorie
				{{ trick.category }}
			</div>
			<div class="content">
				<img src="https://via.placeholder.com/350x150" alt="">
				{{ trick.content | raw }}
			</div>
		</article>
	</section>
{% endblock %}
