{% extends 'base.html.twig' %}

{% block title %}
	Profil{{ parent() }}
{% endblock %}

{% block body %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<div class="row mt-5">
		<div class="col-md-6 mx-auto">
			<div class="container">
				<h1>Profil</h1>
				<div class="mt-5">
					{{ form_start(form) }}
					<h5 class="mt-5">Photo de profil</h2>
					{% if picture is not defined %}
						<p>Aucune photo de profil n'est enregistrée.</p>
					{% else %}
						<div class="text-center">
							<img src="{{ asset('/uploads/' ~ picture) }}" alt="image" class="mb-2 rounded-circle w-25">
							<div class="d-block mb-5"></div>
						</div>
					{% endif %}


					{{ form_row(form.picture) }}
					{{ form_row(form.username) }}
					{{ form_row(form.firstName) }}
					{{ form_row(form.lastName) }}
					{{ form_row(form.email) }}
					{{ form_row(form.plainPassword) }}
					<input type="submit" value="Sauvegarder" class="btn btn-primary mb-5">
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
